:root {
    --primary-color: #0073e6;
    --secondary-color: #ffffff;
    --accent-color: #ff4081;
    --font-color: #333333;
    --bg-color: #f4f4f4;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    margin-top: 40px; /* Ajuste do espaçamento geral */
}

section {
    animation: fadeIn 1s ease-in-out;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--bg-color);
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid var(--primary-color);
    transition: background-color 0.3s ease;
}

ul li i {
    font-size: 24px;
    color: var(--primary-color);
    margin-right: 10px;
    transition: color 0.3s ease;
}

ul li:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

ul li:hover i {
    color: var(--secondary-color);
}

ul li .nivel {
    display: none;
    position: absolute;
    right: 10px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

ul li:hover .nivel {
    display: inline;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#back-to-top {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
}

#back-to-top:hover {
    background-color: var(--primary-color);
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
